#edit_question_container{
    position: absolute;
    width:100%;
    display: flex;
    flex-direction: column;
    left:0%;
    right:0%;
    top:21%;
}


#WarningContainer
{
    background-color: rgb(255, 255, 255);
    width:50%;
    position:absolute;
    top:30%;
    left:25%;
    border-radius: 20px;
}

#Question_container{
    margin-top: 1px;
    border:1px solid black;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    align-content: center;
    text-align: center;
}


#EditQuestionOverlay
{
    position: fixed;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}



#editTemplate_saveButton
{
    margin-top: 20px;
    border-radius: 10px;
    color:white;
    background-color: #0ec900;
    margin-bottom: 20px;
    border:solid 1px black;
}



#QuestionLabelDiv
{
    width:100%;
    align-items: center;
    text-align: center;
}

#QuestionLabelText
{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    border-radius: 20px;
    border:1px solid black;
    align-self: center;
    margin-bottom: 20px;
}

.QuestionValueText
{
    align-self: center;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 20px;
    border:1px solid black;
    width:10%;
    margin-left: 10px;
}

#AnswerContainerEdit
{
    display:flex;
    flex-direction: column;
    text-align: center;
    width:100%;
}

#EditSelect
{
    font-size: 20px;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}



#edit_question_container input:focus
{
    background-color: rgb(233, 231, 231);
}

#EditDeleteButton
{
    color:white;
    width:30px;
    height:30px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
}

#EditQuestionTemplateWarningMessage
{
    color:rgb(0, 0, 0);
}

#warning
{
    text-align: center;
}