#question_holder {
    width: 30%;
    height: 25em;
    overflow: auto;
    border: 1px solid black;
    border-radius: 1em 0 0 1em;
}
.question {
    text-align: center;
    margin: 0.2em;
    width: auto;
    border: 1px solid black;
    border-radius: 1em;
}
.question:hover {
    cursor: pointer;
}
#chart {
    width: 70%;
    height: auto;
}
#content {
    display: flex;
}