#container{
    position: absolute;
    width:100%;
    display: flex;
    flex-direction: column;
    left:0%;
    right:0%;
    top:30%;
}

#pageButtons
{
    margin-left: 5%;
}

#Question_container{
    margin-top: 1px;
    border:1px solid black;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.buttons
{
    border-radius: 10px;
}

.page
{
    display: flex;
    flex-direction: column;
    width:100%;
}

#inputs
{
    align-self: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    width:inherit;
    width: 35%;
    height: 80%;

}

.inputLabel
{
    font-weight: bold;
    align-self: center;
}

#page_title {
    
    position: absolute;
    top:10%;
    left: 42%;
    right: 50%;
    border: 1px solid black;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 30px;
    
}

.inputType
{
    text-align: center;
    border-radius: 10px;
    border:1px black solid;
}

#saveButton
{
    align-self: right;
    border-radius: 10px;
}