#edit_question_container{
    position: absolute;
    width:100%;
    display: flex;
    flex-direction: column;
    left:0%;
    right:0%;
    top:21%;
}

/*#edit_question_pageButtons
{
    margin-left: 5%;
}*/

#Question_container{
    margin-top: 1px;
    border:1px solid black;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    align-content: center;
    text-align: center;
}

/*.edit_question_buttons
{
    border-radius: 10px;
}*/

#edit_question_page_title {
    
    /*position: absolute;
    top:3%;
    left: 42%;
    right: 50%;
    border: 1px solid black;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 30px;*/
    border: 1px solid black;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}


#editTemplate_saveButton
{
    margin-top: 20px;
    border-radius: 10px;
    color:white;
    background-color: green;
    margin-bottom: 20px;
}

#template_ok
{
    margin-left: 29%;
    font-size: 20px;
    color: white;
    background-color:green;
}

#QuestionLabelDiv
{
    width:100%;
    align-items: center;
    text-align: center;
}

#QuestionLabelText
{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    border-radius: 20px;
    border:1px solid black;
    align-self: center;
    margin-bottom: 20px;
}

.QuestionValueText
{
    align-self: center;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 20px;
    border:1px solid black;
    width:10%;
    margin-left: 10px;
}

#AnswerContainerEdit
{
    display:flex;
    flex-direction: column;
    text-align: center;
    width:100%;
}

#EditSelect
{
    font-size: 20px;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#edit_question_container input:focus
{
    background-color: rgb(233, 231, 231);
}

#EditDeleteButton
{
    color:white;
    width:30px;
    height:30px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
}