#personal_page {
    text-align: center;
}
#personal_page_title {
    border: 1px solid black;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.personal_page_description {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.personal_page_question {
    border: 1px solid black;
    border-radius: 2em;
    margin: 1em;
    padding: 1em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#personal_page label {
    margin-left: 1em;
}
.answer_holder_personal {
    text-align: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.personal_page_button {
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #0ec900;
    border: 1px solid black;
}
.personal_page_button:hover {
    border: 1px solid black;
    background-color:rgb(255, 147, 58);
    color: white;
}
