#title {
    border: 1px solid black;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#survey-table-holder {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#survey-table {
    border-collapse: collapse;
}
#survey-table tr > * {
    min-width: 5em;
    padding: 0.5em;
    border: 1px solid black;
}
#survey-table > thead {
    background-color: lightgray;
}
#survey-table > thead > tr:hover{
    background-color: lightgray;
}
.button {
    padding: 0.5em;
    border-radius: 0.5em;
}
.button:hover {
    background-color: blue;
    color: white;
}
#new-survey-button {
    margin: 1em;
}
#link-page {
    text-align: center;
}
#link-page button {
    margin: 1em;
}
#link-page label {
    margin-right: 1em;
}

#homepage_button{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 125px;
    border-radius: 1em 1em 1em 1em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 14px;
    background-size: 1em 1em;
    background-image: url('homepage.png');
    background-position: 10px 16px; 
    background-repeat: no-repeat;
    padding: 12px 0px 12px 5px;
}

#personal_report_button{
    position: absolute;
    top: 70px;
    left: 10px;
    width: 125px;
    border-radius: 1em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 14px;
}