#survey_page {
    text-align: center;
}
#survey_page_title {
    border: 1px solid black;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.survey_page_description {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.survey_page_question {
    border: 1px solid black;
    border-radius: 2em;
    margin: 1em;
    padding: 1em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#survey_page label {
    margin-left: 1em;
}
.survey_page_answer_holder {
    text-align: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.survey_page_button {
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid black;
}

.survey-button2 {
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid black;
    background-color:red;
}
.survey_page_button:hover {
    border: 1px solid black;
    color: white;
}

.survey-button2:hover {
    border: 1px solid black;
    color: white;
}
#survey_page_progress_bar_holder {
    margin-bottom: 1em;
}
#survey_page_progress_bar_holder > p {
    margin: 0;
}
#survey_page_progress_bar_frame {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 1em;
    background-color: grey;
    border-radius: 1em;
}
#survey_page_progress_bar {
    background-color: yellowgreen;
    border-radius: 1em;
    height: 1em;
}
.survey_page_rating_answer {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}